

<!-- Log In Form  -->
<br>
<h2> Please LogIn/Register </h2>
<form>
    <label for="logInEmail">Email:</label>
    <br>
    <input type="text" id="logInEmail" name="logInEmail">
    <br>
    <label for="logInPassword">Password:</label>
    <br>
    <input type="text" id="logInPassword" name="logInPassword">
    <br>
    <button type="button" id="createProduct" >LogIn</button>
    <br>
</form>

<br>
<hr>
<br>

<h4>Or create your new account</h4>
<form>
    <label for="newAccEmail">Email:</label>
    <br>
    <input type="text" id="newAccEmail" name="newAccEmail">
    <br>
    <label for="newAccPassword">Password:</label>
    <br>
    <input type="text" id="newAccPassword" name="newAccPassword">
    <br>
    <label for="newAccRepeatPassword">Repeat password:</label>
    <br>
    <input type="text" id="newAccRepeatPassword" name="newAccRepeatPassword">
    <br>
    <label for="newAccFirstName">FirstName:</label>
    <br>
    <input type="text" id="newAccFirstName" name="newAccFirstName">
    <br>
    <label for="newAccLastName">LastName:</label>
    <br>
    <input type="text" id="newAccLastName" name="newAccLastName">
    <br>
    <label for="newAccAddress">Address:</label>
    <br>
    <input type="text" id="newAccAddress" name="newAccAddress">
    <br>
    <label for="newAccPostNr">PostNr:</label>
    <br>
    <input type="text" id="newAccPostNr" name="newAccPostNr">
    <br>
    <label for="newAccCity">City:</label>
    <br>
    <input type="text" id="newAccCity" name="newAccCity">
    <br>
    <button type="button" id="createLogIn" >Create</button>
    <br>
</form>