

<!-- Create  -->
<h2> Create new clothing type </h2>
<form>
    <label for="ntype">The name of new type:</label>
    <br>
    <input id="ntype" #ntype >
    <br>
    <button (click)="
      add(ntype.value);
      ntype.value = '';
    " >Create</button>
    <br>
</form>
<hr>


<!-- Read  -->
<!-- //TEST LIST OF ALL TYPES. -->
<!-- <ul *ngFor="let category of categories">
  <li>
    <a routerLink="/Update-type/{{ category.id }}">{{ category.typeName }}</a>
    <a (click)="delete(category)">[X]</a>
  </li>
</ul> -->


<h2> Read Table of all clothing Types </h2>
<table style="border-style: solid;">
  <tr>
    <th style="border-style: solid;">Type ID</th>
    <th style="border-style: solid;">Type Name</th> 
  </tr>
  <tr *ngFor="let category of categories">
    <td><a>{{ category.id }}</a></td>
    <td><a routerLink="/Update-type/{{ category.id }}">{{ category.typeName }}</a>
      <a (click)="delete(category)">[X]</a>
    </td>
  </tr>
</table>
<hr>

<!-- Delete  -->
<h2> Delete existing clothing type </h2>
<form>
    <label for="dtype">The ID of existing type:</label>
    <br>
    <input type="text" id="dtype" name="dtype">
    <br>
    <button type="button" id="delete" >Delete</button>
    <br>
</form>