<!-- Create  -->
<h2> Create new user </h2>
<form>
  <label for="loginUserEmail">Email:</label>
    <br>
    <input id="loginUserEmail" #loginUserEmail>
    <br>
    <label for="loginUserCode">Code:</label>
    <br>
    <input id="loginUserCode" #loginUserCode>
    <br>
    <!-- <button>Save Admin Login</button> -->
    <button (click)="
      addAdmin(loginUserEmail.value,
          loginUserCode.value);
          loginUserEmail.value = '';
          loginUserCode.value = '';
    ">Save Admin Login</button>
    <br>
    <label for="firstNameUser">Firstname:</label>
    <br>
    <input id="firstNameUser" #firstNameUser>
    <br>
    <label for="lastNameUser">Lastname:</label>
    <br>
    <input id="lastNameUser" #lastNameUser>
    <br>
    <label for="addressUser">Address:</label>
    <br>
    <input id="addressUser" #addressUser>
    <br>
    <label for="postNrUser">PostNr:</label>
    <br>
    <input type="number" id="postNrUser" #postNrUser>
    <br>
    <label for="cityUser">City:</label>
    <br>
    <input id="cityUser" #cityUser>
    <br>
    <button (click)="
      add(firstNameUser.value, 
          lastNameUser.value,
          addressUser.value,
          postNrUser.value,
          cityUser.value);
      firstNameUser.value = '';
      lastNameUser.value = '';
      addressUser.value = '';
      postNrUser.value = '';
      cityUser.value = '';
    ">Create</button>
    <br>
</form>
<hr>


<!-- Read  -->

<!-- <ul *ngFor="let login of logins">
  <li>
    <a>{{ login.email }}</a>  
  </li>
</ul> -->

<h2> Read Table of all users </h2>
<table style="border-style: solid;">
  <tr>
    <th style="border-style: solid;">User ID</th>
    <th style="border-style: solid;">FirstName</th>
    <th style="border-style: solid;">LastName</th> 
    <th style="border-style: solid;">Address</th> 
    <th style="border-style: solid;">PostNr</th> 
    <th style="border-style: solid;">City</th> 
  </tr>
  <tr *ngFor="let user of users">
    <td><a>{{ user.id }}</a></td>
    <td><a routerLink="/Update-user/{{ user.id }}">{{ user.firstName }}</a></td>
    <td><a>{{ user.lastName }}</a></td>
    <td><a>{{ user.address }}</a> </td>
    <td><a>{{ user.postNr }}</a></td>
    <td>
      <a>{{ user.city }}</a>
      <a (click)="delete(user)">[X]</a>
    </td>
  </tr>
</table>
<hr>


<!-- Update  -->
<h2> Update existing user </h2>
<form>
  <label for="uFirstNameUser">Firstname:</label>
  <br>
  <input type="text" id="uFirstNameUser" name="uFirstNameUser">
  <br>
  <label for="uLastNameUser">Lastname:</label>
  <br>
  <input type="text" id="uLastNameUser" name="uLastNameUser">
  <br>
  <label for="uAddressUser">Address:</label>
  <br>
  <input type="text" id="uAddressUser" name="uAddressUser">
  <br>
  <label for="uPostNrUser">PostNr:</label>
  <br>
  <input type="text" id="uPostNrUser" name="uPostNrUser">
  <br>
  <label for="uCityUser">City:</label>
  <br>
  <input type="text" id="uCityUser" name="uCityUser">
  <br>
  <button type="button" id="updateUser" >Update</button>
  <br>
</form>
<hr>