
<!-- Load font icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- The navigation menu -->
<div class="navbar">
  <a href="#home">Home</a>
  <div class="subnav">
    <button class="subnavbtn">Categories <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="#T-shirts">T-shirts</a>
      <a href="#Pants">Pants</a>
      <a href="#Jackets">Jackets</a>
    </div>
  </div>
  <a href="#Search">Search</a>
  <a href="#Login">Login</a>
  <a href="#Basket">Shopping Basket</a>

  <div class="subnav">
    <button class="subnavbtn">Admin Controls <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="#CRUD-users">CRUD Users</a>
      <a href="#CRUD-Products">CRUD Products</a>
      <a href="#CRUD-Type">CRUD Categories</a>
    </div>
  </div>

</div>