
<!-- Load font icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- The navigation menu -->
<div class="navbar">
  <a href="home">Home</a>
  <div class="subnav">
    <button class="subnavbtn">Categories <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="category/tshirt">T-shirts</a>
      <a href="category/pants">Pants</a>
      <a href="category/jackets">Jackets</a>
    </div>
  </div>
  <a href="search">Search</a>
  <a href="login">Login</a>
  <a href="basket">Shopping Basket</a>

  <div class="subnav">
    <button class="subnavbtn">Admin Controls <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="CRUD-types">CRUD Categories</a>
      <a href="CRUD-products">CRUD Products</a>
      <a href="CRUD-users">CRUD Users</a>
      <a href="orderOverview">Order Overview</a>
    </div>
  </div>

  <div class="subnav">
    <button class="subnavbtn">Extra <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="opretKunde">Opret Kunde</a>
      <a href="product">Product</a>
    </div>
  </div>

</div>