



<!-- Create  -->
<h2> Create new product </h2>
<form>  <!-------------------->
    <label for="nProductName">Product Name:</label>
    <br>
    <input id="nProductName" #nProductName>
    <br>

    <label for="nProductPrice">Price:</label>
    <br>
    <input type="number" id="nProductPrice" #nProductPrice>
    <br>

    <label for="nProductDescription">Description:</label>
    <br>
    <input id="nProductDescription" #nProductDescription>
    <br>

    <label for="nProductType">Type:</label>
    <br>
    <div >
      <select id="nProductType" #nProductType> <!-------------------->
        <option *ngFor="let category of categories" [value]="category.id"> <!-------------------->
          {{category.typeName}} <!-------------------->
        </option>
      </select>
    </div>
    
    <br>
    <button type="button" (click)="   
      add(
        nProductName.value,
        nProductPrice.value,
        nProductDescription.value,
        nProductType.value);
      nProductName.value = '';
      nProductPrice.value = '';
      nProductDescription.value = '';
      nProductType.value = '';
     ">Create</button>  <!-------------------->
    <br>
</form>


<!-- Read  -->
<hr>
<h2> Read Table of all products </h2>

<table style="border-style: solid;">  <!-------------------->
  <tr>
    <th style="border-style: solid;">Product ID</th>
    <th style="border-style: solid;">Product Name</th>
    <th style="border-style: solid;">Price</th> 
    <th style="border-style: solid;">Description</th> 
    <th style="border-style: solid;">Types</th> 
  </tr>

  <tr *ngFor="let product of products">  <!-------------------->
    <td><a>{{ product.id }}</a></td>  <!-------------------->
    <td>
      <a routerLink="/Update-product/{{ product.id }}">{{ product.productName }}</a>  <!-------------------->
    </td>
    <td><a>{{ product.price }}</a></td>  <!-------------------->
    <td><a>{{ product.description }}</a></td>  <!-------------------->
    <td>
      <a>{{ product.type.typeName }}</a>  <!-------------------->

<!-- Delete  -->
      <a (click)="delete(product)">[X]</a>  <!-------------------->
    </td>
  </tr>
</table>
<hr>




<!-- Read  -->
<!-- //TEST LIST OF ALL TYPES. -->
<!-- <ul *ngFor="let product of products">
  <li>
    <a routerLink="/Update-product/{{ product.id }}">{{ product.productName }}</a>
    <a (click)="delete(product)">[X]</a>
  </li>
</ul> -->



    <!-- <label for="nProductPictures">Pictures:</label>
    <br>
    <input type="text" id="nProductPictures" name="nProductPictures" #nProductPictures>
    <br> -->


      <!-- <input type="number" id="nProductType" #nProductType> -->