
<!-- Read all Orders  -->
<h2> Read Table of all orders </h2>
<table style="border-style: solid;">
  <tr>
    <th style="border-style: solid;">Order ID</th>
    <th style="border-style: solid;">LogIn ID</th>
    <th style="border-style: solid;">Product ID</th>
    <th style="border-style: solid;">Product Name</th>
    <th style="border-style: solid;">Quantity</th>
    <th style="border-style: solid;">SinglePrice</th>
  </tr>
  <tr>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>Blue t-shirt</td>
    <td>3</td>
    <td>200</td>
  </tr>
</table>
<hr>