


<!--one product card html example
https://www.w3schools.com/howto/howto_css_product_card.asp -->

<h2>Search product</h2>
<form>
    <label for="sProduct">Write name of the product:</label>
    <br>
    <input type="text" id="sProduct" name="sProduct">
    <br>
    <button type="button" id="searchProduct" >Search</button>
    <br>
</form>

<br>
<div class="card">
    <img src="productPicture.jpg" alt="PictureName" style="width:100%">
    <h1>ProductName</h1>
    <p class="price">€29.99</p>
    <p>Some text about the product..</p>
    <p><button>Add to Cart</button></p>
</div>