


<!--one product card html example
https://www.w3schools.com/howto/howto_css_product_card.asp -->


<h2>Category 1</h2>



<div class="card" *ngFor="let product of products">
    <ng-container *ngIf="product.typeID == 1">
        <h1>{{ product.productName }}</h1>
        <p class="price">{{ product.price }}</p>
        <!-- <p>{{ product.description }}</p> -->
        <a routerLink="/product/{{ product.id }}"><button>Read more</button></a>
    </ng-container>
</div>

  

<ul *ngFor="let product of products">
    <li>
        <h1><a>{{ product.productName }}</a></h1>
        <p class="price">{{ product.price }}</p>
        <p><a routerLink="/product/{{ product.id }}">Read more</a></p>
    </li>
</ul>
